*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-top-behind: #009688;
    --bg-notifications: #8EDAFC;
    --bg-icons: #B1B1B1;
    --bg-mytexts: #D5F9BA;
    --bg-bot-behind: #DCDBD2;
    --bg-app: #EAEAEA;
    --bg-chat-bottom: #F3EEEA;
        
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 12px;    
    background-image: linear-gradient(to bottom, var(--bg-top-behind) 0px, var(--bg-top-behind) 70px, var(--bg-bot-behind) 69px, #D3DBDB 100%);
    background-attachment:fixed;
    height:100%;

}




/* app background */


/* app */

.app{
    /* height: 90vh; */
    width: 80%;
    display: flex;
    margin: 30px auto;
    contain: content;


}

/* sidebar */


.col-12{
    height: 50px;

}

.bell_desktop{
    background-color: var(--bg-notifications);
}



aside{
    /* height: 100vh; */
    background-color: var(--black);
    width: 400px;
    /* float: left; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-content: flex-start;
    background-color: white;

}

main{
    /* height: 90vh; */
    width: 100%;
    background-color: pink;
    margin-left: 12px;
    background-image: url(/assets/img/mine.jpg);
    overflow-y: scroll;

}


.user {
    background-color: var(--bg-app);
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.user>span{
    margin-bottom: 2px;
}

.profile{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    margin-left: -2px;
    
}

.options{
    font-size: 17px;
    color: var(--bg-icons)
}

/* notification */

.notifications{
    height: 60px;
    background-color: #8EDAFC;
}

.notification{
    background-color: #f2fbff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.fa-bell-slash{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15px;
    color: #8EDAFC;
}

/* input search */

.search{
    height: 40px;
    background-color: lightgrey;
    
}

.form-control{
    font-size: 10px;
}

.contacts{
    overflow-y: scroll;
    height: 70vh;
    padding-left: inherit;
    background-color: white;
}

.contact{
    height: 60px;
    background-color: white;

}

/* side chat */


/* main{
    height: 100vh;
    width: 100%;
    background-color: pink;
    margin-left: 12px;
    background-image: url(/assets/img/mine.jpg);
    overflow-y: scroll;

} */

.chat_open_user{
    background-color: var(--bg-app);
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


/* chat  */

.chat{
    height: 95%;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    
}




/* footer write msg */

.writing{
    background-color: var(--bg-chat-bottom);
    padding-top: 20px;
    height: 70px;
}

.icon {
    font-size: 20px;
    padding-top: 5px;
}

.contact_profile{
    background-color: #f2fbff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.contact_img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    margin-left: -2px;

}


.active{
    background-color: #e9ebeb;
}

.chat span {
    font-size: 13px;
    color: rgba(41, 40, 40, 0.76);
    
}

.msg_sent{
    position: relative;
    width: 35%;
    /* width: fit-content; */
    align-self: flex-end;
    background-color: var(--bg-mytexts);
    border-radius: 10px;
    padding: 3px 10px;
    margin-right: 10%;
}

.msg_sent div{
    font-size: 8px;
}

.msg_recieved{
    position: relative;
    width: 35%;
    align-self: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin-left: 10%;

}

.msg_recieved div{
    font-size: 8px;
}

/* dropdown */

.dropdown-content {
    position: absolute;
    width: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.hide{
    visibility: hidden;
}




